.Landing{
    height:100vh;
}
.GridWrapper{
    width: 85vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}
.breaker{
    height: 4px;
    width: 20%;
    background-image: linear-gradient(to left, #f4eb82, transparent);
    border-radius: 1vw;
    float: left;
    margin-left: 40%;
    margin-bottom: 6vh;
}
.title{
    text-align: center;
    color: #252525;
    margin-top: 5vh;
}
.FilterFront{
    width: 100%;
    height: 100vh;
    margin-top: -100vh;
    background-image: linear-gradient(to right, #f3822187, #273bb091);
}
